{% load static %}
<div class="afiliasi">
    <h2>Afiliasi Gaban</h2>
    <div class="logo-afiliasi">
        <div>
            <img class="logo-ukawangi" src="{% static 'general/assets/Logo Ukawangi.png' %}">
            <p>Ukawangi</p>
        </div>
        <div>
            <img class="logo-KPMBB" src="{% static 'general/assets/Logo KPMBB.png' %}">
            <p>Keluarga Pelajar</p>
            <p>Mahasiswa Banyuwangi</p>
            <p>Bandung</p>
        </div>
        <div>
            <img class="logo-Tel-U" src="{% static 'general/assets/Logo Laros.png' %}">
            <p>Laros Tel-U</p>
        </div>

    </div>
</div>