{% load static %}
<div class="title-sponsor">
    <h2>Produk Anggota Gaban</h2>
</div>
<div class="list-sponsor">
    <div class="slider_items" >
         <a href="https://www.instagram.com/gajahbanyuwangi/" target="_blank">
              <img src=" {% static "general/assets/Sponsor1.png"%}">
         </a>
    </div>
    <div class="slider_items" >
         <a href="https://www.instagram.com/gajahbanyuwangi/" target="_blank">
              <img src=" {% static "general/assets/Sponsor1.png"%}">
         </a>
    </div>
    <div class="slider_items" >
         <a href="https://www.instagram.com/gajahbanyuwangi/" target="_blank">
              <img src=" {% static "general/assets/Sponsor1.png"%}">
         </a>
    </div>
    <div class="slider_items" >
         <a href="https://www.instagram.com/gajahbanyuwangi/" target="_blank">
              <img src=" {% static "general/assets/Sponsor1.png"%}">
         </a>
    </div>
</div>