{% load static %}
<link rel="shortcut icon" href="{% static "general/assets/LogoGaban1.png" %}">
<link rel="stylesheet" href="{% static "general/css/style.css" %}">
<link rel="stylesheet" href="{% static "general/css/header.css" %}">
<link rel="stylesheet" href="{% static "general/css/footer.css" %}">
{% comment %} <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> {% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://kit.fontawesome.com/b5ff7d823d.js" crossorigin="anonymous"></script>