@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    
 }


.header-tagline{
    width: 100%;
    padding-left: 149px;
    padding-right: 149px;
    height: 781px;
    background: radial-gradient(165.87% 692.11% at 94.27% 127.51%, #E4FFFF 0%, #F5F6F6 100%);
}

.garis-bawah{
    border-bottom: 3px solid #F5F6F6;
}

a{
    text-decoration: none;
    color: #18807F;
    text-align: center;
    width: 100%;
}

a:hover{
    text-decoration: underline;
    color: #18807F;
}

@media (max-width: 1000px) {
    .header-tagline{
        padding-left: 80px;
        padding-right: 80px;
        height: auto;

    }

}

@media (max-width: 800px){
    .header-tagline{
        padding-left: 40px;
        padding-right: 40px;
    }

}