{% load static %}
<div class="dashboard">
    <div class="dashboard-navbar">
        
        <img src="{% static 'general/assets/LogoGaban1.png' %}">
        <h2>Gajah Banyuwangi</h2>
        <form class="dash-menu" method="post" >
            {% csrf_token %}
            <input type="number" id="spa" name="spa"  value=1>
            <button type="submit" class="dashboard-menu">
                <i class="fas fa-home"></i>Dashboard
            </button>
           
        </form>
        <form class="dash-menu" method="post" >
            {% csrf_token %}
            <input type="number" id="spa" name="spa"  value=2>
            <button type="submit" class="dashboard-menu">
                <i class="fas fa-file-import"></i>Input Data
            </button>
           
        </form>
        <form class="dash-menu" method="post" >
            {% csrf_token %}
            <input type="number" id="spa" name="spa"  value=3>
            <button type="submit" class="dashboard-menu ">
                <i class="fas fa-user"></i>Profil
            </button>
           
        </form>
        
    </div>
    <div class="dashboard-main">
        <div class="dashboard-header">
            <div class="header-left">
                <h3>Hi Admin</h3>
                <h2>Welcome back!</h2>
            </div>
            {% if spa == 1 %}
            <form method="post">
                {% csrf_token %}
                <input type="text" id="Search" name="Search" placeholder="Search data" value="{{findData}}">
                
            </form>
            {% endif %}
            <div>
                <i class="fas fa-bell"></i>
            </div>
            <div class="foto-profile">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="info-of-account">
               
                <div>
                    <p class="nameofaccount">{{user.username}}</p>
                    <div class="info-admin dropdown-admin">
                        <p class="roleofaccount">Admin</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="info-admin logout">
                        <a href="{% url 'logoutUser' %}">
                            <p> LogOut</p>

                        </a>
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="garis-bawah"></div>
        <div class="dashboard-header2">


            {%block dashboardUtama %}
                
                {% if spa == 1 %}
                    {% include "snippets/dashboard/dashboard-utama.html" %}
                {% elif spa == 2 %}
                    {% include "snippets/dashboard/input-data.html" %}
                {% elif spa == 3 %}
                    {% include "snippets/dashboard/profil-admin.html" %}
                {% endif %}
            {% endblock dashboardUtama %}
            
        </div>
    </div>
</div>

