{% load static %}
<div class="dashboard">
    <div class="dashboard-navbar">
        <img src="{% static 'general/assets/LogoGaban1.png' %}">
        <h2>Gajah Banyuwangi</h2>
        <div class="dashboard-menu dashboard-klik">
            <i class="fas fa-home"></i>
            <h2>Dashboard</h2>
        </div>
        <div class="dashboard-menu">
            <i class="fas fa-file-import"></i>
            <h2>Input Data</h2>
        </div>
        <div class="dashboard-menu">
            <i class="fas fa-user"></i>
            <h2>Profile</h2>
        </div>
    </div>
    <div class="dashboard-main">
        <div class="dashboard-header">
            <div class="header-left">
                <h3>Hi Admin</h3>
                <h2>Welcome back!</h2>
            </div>
            <div>
                <input type="text" placeholder="Search data">
            </div>
            <div>
                <i class="fas fa-bell"></i>
            </div>
            <div class="info-of-account">
                <i class="fas fa-user-circle"></i>
                <div>
                    <p class="nameofaccount">Jonathan W</p>
                    <p class="roleofaccount">Admin</p>
                </div>
            </div>

        </div>
        <div class="garis-bawah"></div>
        <div class="dashboard-header2">
            <h3>Data Anggota KPMBB</h3>
            <div>
                <div class="add-data">
                    <p>Add Data</p>
                </div>
                <div class="download-data"> 
                    <p>Download Data</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="show-data"> 
                    <h4>Show</h4>
                    <div class="add-minus-data">
                        <p>15</p>
                        <div>
                            <i class="fas fa-chevron-up"></i>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <h4>entries </h4>
                </div>
            </div>
        </div>
    </div>
</div>

