.profil-vidio{
    display: flex;
    width: 100%;
    padding-left: 149px;
    padding-right: 149px;
    padding-top: 64px;
    align-items: center;
}

.profil-vidio iframe{
    width: 396.74px;
    height: 235px;
    border-radius: 10px;

}

.profil-vidio p{
    align-items: center;
    padding-left: 45px;
    font-size: 18px;
    line-height: 30px;
    width: 705px;

    /* Dark Grey */

    color: #494B4D;
}

@media (max-width: 1000px) {
    
    .profil-vidio {
        padding-left: 80px;
        padding-right: 80px;
    }

}

@media (max-width: 800px){
    .profil-vidio{
        display: block;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .profil-vidio iframe{
        margin-bottom: 30px;
    }
    .profil-vidio p {
        padding-left:0;
        width: 100%;
    }
    
}