.logo-sejarah{
    margin-top: -60px;
    margin-left: -124px;
    display:flex;
    height: 362px;
    width:100%;
    padding-left: 149px;
    padding-right: 149px;
    background: radial-gradient(165.87% 692.11% at 94.27% 127.51%, #E4FFFF 0%, #F5F6F6 100%);
    margin-bottom: 148px;
    
}

.logo{
    position: relative;
    width:35%;
    padding-right: 100px;
}

.logo img{
    position: relative;
    margin-top: 52px;
    margin-left: 100px;
    height: 410px;
    width: 480px;


}

.sejarah{
    margin-left: 675px;
    margin-top: 140px;
    position: absolute;
    width:40%;
}

.sejarah h2{
    color: #18807F;
    padding: 20px 0;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 53px;
}

.sejarah p{
    font-size: 18px;
    line-height: 30px;
    /* Dark Grey */
    color: #494B4D;

}

@media (max-width: 1000px){
    .logo-sejarah{
        margin-left: -50px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .logo img{
        margin-top: 52px;
        margin-left: 50px;
        width: 380px;
        height: auto;
    }
    .sejarah{
        margin-left: 450px;
        margin-top: 100px;
    }
}

@media (max-width: 800px){
    .logo-sejarah{
        margin-left: -50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .logo img{
        margin-top: 100px;
        margin-left: 50px;
        width: 180px;
        height: auto;
    }
    .sejarah{
        width: 60%;
        margin-left: 250px;
        margin-top: 100px;
    }

    .sejarah h2{
        font-size: 26px;
    }
}

@media (max-width:700px){
    .logo img{
        width: 100px;
        height: auto;
    }
    .sejarah{
        width: 65%;
        margin-left: 180px;
        margin-top: 100px;
    }

}

@media (max-width: 600px){
    .logo img{
    position: absolute;
    z-index: -1;
    }
}

@media (max-width: 550px){
    .logo{
    position: absolute;
    z-index: 2;
    right: 50px;
    }
    .sejarah{
        width: 100%;
        margin-left: 0;
        padding-left: 50px;
        padding-right: 50px; 
    }
    .logo-sejarah ~ .garis-bawah {
        padding-top:70px;
        
    }
}