.tagline{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    height: 719px;

}

.tagline-text {
    align-self: center;
    margin-top: -180px;
}

.tagline-text > p{
    font-weight: 800;
    font-size: 75px;
    line-height: 125px;
    /* Green */
    color: #18807F;
}

.tagline img{
    position: relative;
    z-index: 2;
    width: 470px;
    
}
.title-foto{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title-foto div{
    position: relative;
    width:200px;
    margin-bottom: 50px;
    text-align: right;    
    padding-right: 10px;
}

.title-foto h3{
    /* Heading 3 */

    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height */
    margin-right: -5px;


    /* Dark Grey */

    color: #494B4D;
}

.title-foto p{
    /* Paragraph */

    font-family: Mukta;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height */


    /* Dark Grey */

    color: #494B4D;

}

@media (max-width:1000px) { 
    .tagline{
        height: 550px;
    }
    .tagline img{
        width: 300px;
    }
    .tagline-text > p{
        position: absolute;
        max-width: 50%;
        left: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        z-index: 2;
        font-size: 65px;
        line-height: 80px;
    }
    
    
}

@media (max-width: 800px){
    .tagline{
        height: 450px;
    }
    .tagline img{
        width: 300px;
    }
    .tagline-text > p{
        left: 50px;
        font-size: 35px;
        line-height: 50px;
    }
}

@media(max-width:600px){
    .tagline img{
        width: 200px;
    }
}

@media (max-width:500px){
    .tagline{
        height: auto;
    }
    .tagline-text > p{
        left: 50px;
        font-size: 30px;
        line-height: 35px;
    }
    .tagline img{
        width: 150px;
    }

    .title-foto h3{
        font-size: 16px;
        line-height: 10px;
    }
    .title-foto p{
        font-size: 12px;
    }
}

@media (max-width: 400px){

    .title-foto div{
        margin-bottom: 20px;
    }

    .tagline-text > p{
        top:60px;
        font-size: 20px;
        line-height: 25px;
    }
    .tagline img{
        width: 100px;
    }

}
